<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
<p>{{ current_user.username }}</p>
<form method="POST" action="">
  {{ form.hidden_tag() }}
  <div class="password">
  {{ form.password.label() }}
  {% if form.password.errors %}
    {{ form.password() }}
    <div>
    {% for error in form.password.errors %}
      <span>{{ error }}</span>
    {% endfor %}
    </div>
  {% else %}
    {{ form.password() }}
  {% endif %}
  </div>
  <div class="confirm_pass">
    {{ form.pass_validate.label() }}
    {% if form.pass_validate.errors %}
      {{ form.pass_validate() }}
      <div>
      {% for error in form.pass_validate.errors %}
        <span>{{ error }}</span>
      {% endfor %}
      </div>
    {% else %}
      {{ form.pass_validate() }}
    {% endif %}
    </div>
  <div>
    {{ form.submit() }}
  </div>
</form>
{% endblock content %}
